<div data-ui-view="header" class="view-transition row"></div>
<div data-ui-view="content" class="view-transition ep-content row" style="padding-top: 70px;"></div>
<div data-ui-view="footer" class="view-transition row"></div>


<div id="MessageBox" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body…</p>
      </div>
    </div>
  </div>
</div>
