<div class="footer-copyright" style="background-color: #989898 !important;">
  <div class="container">
    <a class="grey-text text-lighten-4 " href="#!"><i class="fa fa-facebook"></i></a>
    <a class="grey-text text-lighten-4 " href="#!"><i class="fa fa-twitter"></i></a>
    <a class="grey-text text-lighten-4 " href="#!"><i class="fa fa-youtube"></i></a>
    <a class="grey-text text-lighten-4 " href="#!"><i class="fa fa-linkedin"></i></a>
    <a class="grey-text text-lighten-4 " href="#!"><i class="fa fa-google-plus"></i></a>
    <span class="copyright-notice">© 2015 AF BenefitMarket, All Rights Reserved.</span>
    <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
    <a class="grey-text text-lighten-4 right" href="#!">Legal Information</a>
    <a class="grey-text text-lighten-4 right" href="#!">Site Map</a>
  </div>
</div>