<div class="row">
  <div class="input-field col offset-s9 s3">
    <label for="search"><i class="mdi-action-search"></i>
    </label>
    <input id="search" type="text" required>
  </div>
</div>

<div class="row">
  <nav>
    <div class="nav-wrapper">
      <div style="background-color: white !important; width: 425px">
        <a href="#/" class="brand-logo">
          <img style="background-color: white !important; height: 100%;padding: 10px 4px 4px 10px; " src="/content/img/af-benefit-market_logo_rgb.png" />
        </a>
      </div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#/about">About Us</a>
        </li>
        <li><a href="#/educated">Get Educated</a>
        </li>
        <li><a href="#/demo">See A Demo</a>
        </li>
        <li><a href="#/contact">Contact Us</a>
        </li>
      </ul>

    </div>
  </nav>
</div>